Thumbs.db
*.asv
*.lnk
*.o
__pycache__/
cosmos/models/__pycache__
.ipynb_checkpoints/

singmol_mex.mexmaci64

singmol_mex.mexmaci64

singmol_mex.mexmaci64

singmol_new/singmol

singmol_new/singmol.mexmaci64

*.m~

singmol.mexmaci64
.DS_Store
